
form {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;

}


h2 {
    text-align: center;
    color: #333;
}


label {
    display: block;
    margin-bottom: 2px;
    font-weight: bold;
}


input[type="text"],
input[type="email"],
input[type="password"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

body{
   
    background-image: url("regimg/4.jpg");
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 5px;
}
  

#form{
    background-color: white;
    width: 25%;
    margin: 120px auto;
    padding: 50px;
    box-shadow: 10px 10px 5px rgb(82, 11, 77);
    border-radius: 6px;
}
 button{
   font-size: 14px;
    font-style: 600;
    padding: 10px 30px;
    color: white;
    background-color: #088178;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;

}

